.slider {
  width: 640px;
  height: 360px;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.active {
  opacity: 1;
}
