@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body,html{ 
  margin: 0px;
  padding: 0px;
}
/*----------------*/
/*---Text Style*---/
/*----------------*/
h1,h2,h3,h4{
  font-family: acme;
  text-align: center;
  color: #aa0f2e;
}
p{
  text-align: justify;
  font-family: oswald;
  font-size: 20px;
}
/*----------------*/
/*-Navigation Bar*-/
/*----------------*/
.navbar{
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #aa0f2e;
  display: inline-flex;
  border-bottom: 10px solid black;
  z-index: 2;
  margin: auto;    
}
.navbar ul { 
      align-items: center;
      list-style-type: none;
      margin: auto;
      padding: 0px;
      overflow: hidden;
      background-color: #aa0f2e;
}
.navbar ul li{
  display: inline-block;
}
.navbar ul li a{
  display: block;
  color: white;
  font: 18px acme;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: black;
  transition:0.5s;
}
.active{
  background-color:black;
}
/*----------------*/
/*--Content CSS---*/
/*----------------*/

.content{
  padding-top:50px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
  margin-bottom:0px;
  background-color: white;
  align-content: center;
  border: 3px solid green;
}

/*----------------*/
/*-Login-Form CSS-*/
/*----------------*/

.form-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: oswald;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: oswald;
  text-transform: uppercase;
  outline: 0;
  background: #aa0f2e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: bold;
}
.form button:hover,.form button:active,.form button:focus {
  background: #7e0b22;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #aa0f2e;
  text-decoration: none;
}

/*----------------*/
/*-Contact-Form CSS-*/
/*----------------*/

.contactf-page {
  width: 450px;
  padding: 8% 0 0;
  margin: auto;
}
.contact-dform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  height: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.contact-dform input {
  font-family: oswald;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.contact-dform button {
  font-family: oswald;
  text-transform: uppercase;
  outline: 0;
  background: #aa0f2e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: bold;
}
.contact-dform button:hover,.form button:active,.form button:focus {
  background: #7e0b22;
}
.h1-form{
  margin: 0 0 15px;
  padding: 15px;
  font-family: oswald;
  font-weight: bold;
}
.form-textarea{  
  resize: none;
  font-family: oswald;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height: 220px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}